In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
players_count = len(purchase_data["SN"].unique())
summary_table = pd.DataFrame({"Total Players": [players_count]})
summary_table

   Total Players
0            576

In [4]:
unique_items = len(purchase_data["Item Name"].unique())
average_price = purchase_data["Price"].mean()
num_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()

summary_table = pd.DataFrame({"Number of Unique Items": [unique_items],
                              "Average Price": [average_price,],
                              "Number of Purchases": [num_purchases],
                              "Total Revenue": [total_revenue]})

summary_table.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

In [5]:
gender = purchase_data[["SN", "Gender"]]
gender = gender.drop_duplicates()
gender_count = gender["Gender"].value_counts()

total_count_gender = gender_count.sum()
percentage_gender = gender_count / total_count_gender

gender_df = pd.DataFrame({"Total Count": gender_count,
                         "Percentage of Players": percentage_gender})
gender_df.sort_values(["Total Count"], ascending = False).style.format({'Percentage of Players': '{:.2%}'})

In [6]:
purchase_count = purchase_data.groupby("Gender")["Item Name"].count()
avg_purchase_price = purchase_data.groupby("Gender")["Price"].mean()
total_purchase_value = purchase_data.groupby("Gender")["Price"].sum()
avg_total_purchase = total_purchase_value/gender_count

purchase_df = pd.DataFrame({"Purchase Count": purchase_count, 
                            "Average Purchase Price": avg_purchase_price,
                            "Total Purchase Value": total_purchase_value,
                           "Average Total Purchase per Person": avg_total_purchase})

purchase_df.style.format({'Average Purchase Price':"${:,.2f}",
                         'Total Purchase Value': '${:,.2f}',
                         'Average Total Purchase per Person': '${:,.2f}'})

Age Demographics¶
Establish bins for ages
Categorize the existing players using the age bins. Hint: use pd.cut()
Calculate the numbers and percentages by age group
Create a summary data frame to hold the results
Optional: round the percentage column to two decimal points
Display Age Demographics Table

In [7]:
bins = [-1, 10, 15, 20, 25, 30, 35, 40, 100]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [8]:
purchase_data[" "] = pd.cut(purchase_data["Age"], bins, labels=group_names)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,15-19
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24